body {
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;

}

header {
    min-height: 100px;
    min-width: 800px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

    border: 2px solid black;
    display:flex;
    justify-content: space-between;
}

h1 {
    border: 2px solid black;
}

h2 {
    font-size: 100%
}

/* header elements */
#headerButtons {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#rightHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttonHS {
    margin: 40px;
    margin-bottom: 10px;
    height: 40px;
}

#clearHS {
    margin:20px;
}

#buttonStart {
    width: auto;
    padding:20px;
}

#headerImg {
    min-width: 400px;
}

#scoreHeader{
    margin:40px;
}

#scoreCountdown {
    font-size: 30px;
}

/*display elements */

#displayBox {
    min-width: 500px;
    
    border: 2px solid black;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#questionDisplay {
    margin-top: 2px;
    margin-bottom: 10px;
    margin-left: 12px;
    width: 95%;

    text-align:center;
}

/*Button styling and text alignment */

#answerBox {
    flex-direction: column;
}

.btn {
    min-width: 300px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 5px;
    text-align: center;
}

@media (max-width: 850px) {
    body {
        margin-left: 11%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    header {
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        min-width: auto;
        margin-left: 5%;
        width:95vw;
    }
    #displayBox {
        min-width: auto;
    }
    #headerImg {
        min-width: 200px;
    }
}