body {
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;

}

header {
    min-height: 100px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

    border: 2px solid black;
    display:flex;
    justify-content: space-between;
}

h1 {
    border: 2px solid black;
}

#headerImg {
}

#displayBox {
    min-width: 500px;
    
    border: 2px solid black;

    display: flex;
    flex-direction: column;
}

#buttonHS {
    margin: 40px;
}

#scoreCountdown{
    margin:40px;
}

#headerImg {
    min-width: 400px;
}

#answerBox {
    display:flex;
    flex-direction: column;
}